:root {
    /* color */
    --whie-color: #fff;
    --black-color:#140a00;
    --blue-color:#045fd4;
    --red-color:#ff0000;
    --gray-dark-color:#909090;
    --gray-light-color:#e0e0e0;

    /* size */
    --padding: 12px;
    --avatar-size: 36px;

    /* font size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

ul {
    list-style: none;
}

button,
button:focus {
    border: none;
    outline: none;
    cursor: pointer;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    background-color: var(--black-color);
    color: var(--whie-color);
}

header .logo {
    font-size: var(--font-large);
}

header .logo i {
    color: var(--red-color);
}

header .logo .fa-search {
    margin-right: var(--padding);
}

/* Video Player */
.player {
    text-align: center;
    background-color: var(--black-color);
    position: sticky;
    top: 0;
}

.player video {
    width: 100%;
    height: 100%;
    max-width: 1000px;
}

/* videoInfo */
.info {
    padding: var(--padding);
}

.info .metadata .hashtags {
    display: flex;
    font-size: var(--font-small);
    color:var(--blue-color);
}

.info .metadata .hashtags li {
    margin-right: var(--padding);
}

.info .metadata .tittleAndButton {
    display: flex;
}

.info .metadata .tittleAndButton .tittle {
    font-size: var(--font-medium);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-right: var(--padding);
}

.info .metadata .tittleAndButton .moreBtn{
    height: 100%;
}

.info .metadata .views {
    font-size: var(--font-small);
    color: var(--gray-dark-color);
}

/* Action Buttons */
.info .actions {
    display: flex;
    justify-content: space-around;
    margin: var(--padding) 0;
}

.info .actions button {
    display: flex;
    flex-direction: column;
    font-size: small;
    color: var(--gray-dark-color);
}

.info .actions button i {
    margin: 0 auto;
    margin-bottom: calc(var(--padding) / 2);
    font-size: 16px;
}

.info .actions button i.active {
    color:var(--blue-color);
}

/* Channel Description */
.info .channel {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px var(--gray-light-color);
    border-bottom: solid 1px var(--gray-light-color);
}

.info .channel .metadata {
    display: flex;
    align-items: center;
}

.info .channel .metadata img {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
}

.info .channel .metadata .info {
    display: flex;
    flex-direction: column;
}

.info .channel .metadata .name {
    font-size: var(--font-medium);
}

.info .channel .metadata .subscribers {
    font-size: var(--font-small);
    color: var(--gray-dark-color);
}

.info .channel .subscribe {
    background-color: var(--red-color);
    color:var(--whie-color);
    text-transform: uppercase;
    font-size: var(--font-medium);
}

/* Up Next */
.upNext {
    padding: var(--padding);
}

.upNext > .tittle {
    font-size: var(--font-medium);
    color: var(--gray-dark-color);
    margin-bottom: calc(var(--padding) / 2);
}

.upNext .item {
    display: flex;
}

.upNext .item .img {
    flex: 1 1 35%
}

.upNext .item .img img {
    width: 100%;
}

.upNext .item .info {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
}

.upNext .item .moreBtn {
    flex: 5%;
    height: 100%;
}